@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .about {
    text-align: center;
    padding: 20px 0;
    animation: slideIn 1s ease-in-out;
  }
  
  .about-span {
    color: orange;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
  }
  
  .about-intro {
    background-color: black;
    color: white;
    padding: 50px 20px;
    border-radius: 20px;
  }
  
  .about-intro h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .about-intro p {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .team {
    padding: 50px 0;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  
  .team h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .team-member {
    flex: 1;
    margin: 10px;
    padding: 20px;
    min-width: 250px;
  }
  
  .team-member img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  
  .mission {
    padding: 50px 20px;
    background-color: black;
    border-radius: 20px;
  }
  
  .mission h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .mission p {
    font-size: 24px;
  }
  
  /* Media Queries for Responsiveness */
  
  @media (max-width: 1200px) {
    .about-intro h1 {
      font-size: 40px;
    }
  
    .about-intro p {
      font-size: 20px;
    }
  
    .team h2,
    .mission h2 {
      font-size: 32px;
    }
  
    .mission p {
      font-size: 22px;
    }
  }
  
  @media (max-width: 992px) {
    .about-intro {
      padding: 40px 20px;
    }
  
    .team,
    .mission {
      padding: 40px 20px;
    }
  
    .about-intro h1 {
      font-size: 36px;
    }
  
    .about-intro p {
      font-size: 18px;
    }
  
    .team h2,
    .mission h2 {
      font-size: 28px;
    }
  
    .mission p {
      font-size: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .team-members {
      flex-direction: column;
    }
  
    .team-member {
      margin: 20px 0;
    }
  
    .about-intro {
      padding: 30px 15px;
    }
  
    .team,
    .mission {
      padding: 30px 15px;
    }
  
    .about-intro h1 {
      font-size: 32px;
    }
  
    .about-intro p {
      font-size: 16px;
    }
  
    .team h2,
    .mission h2 {
      font-size: 24px;
    }
  
    .mission p {
      font-size: 18px;
    }
  }
  
  @media (max-width: 576px) {
    .about-intro {
      padding: 20px 10px;
    }
  
    .team,
    .mission {
      padding: 20px 10px;
    }
  
    .about-intro h1 {
      font-size: 28px;
    }
  
    .about-intro p {
      font-size: 14px;
    }
  
    .team h2,
    .mission h2 {
      font-size: 20px;
    }
  
    .mission p {
      font-size: 16px;
    }
  
    .team-member {
      padding: 10px;
    }
  }
  